<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @quizzes %></h1>
      <table class="table table-bordered">
        <tbody>
          <% if question_one.user_answer = answer_one puts @oily %>
          <% if question_one.user_answer = answer_two puts @combi %>
          <% if question_one.user_answer = answer_three puts @dry %>
            <% if question_two.user_answer = answer_one puts @aging %>
            <% if question_two.user_answer = answer_two puts @acne %>
            <% if question_two.user_answer = answer_three puts @pigmentation %>
            <% if question_two.user_answer = answer_four puts @oilliness %>
            <% if question_two.user_answer = answer_five puts @sensitive %>
              <% if question_three.user_answer = answer_one puts @sensitive %>
                <% if question_four.user_answer = answer_one puts @darker %>
                  <%# <% if question_five.user_answer = answer_one puts @lotion %>
                  <%# <% if question_five.user_answer = answer_two puts @cream %>
                  <%# <% end %>
                  <%# <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
          <% end %>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
