.page {
  width: 100%;
  // height: 84vh;
  background-attachment: fixed;
  margin-left: 100px;
  margin-top: 100px;
}

.skinbasics {
  margin-top: 100px;
  margin-right: 165px;
}
//  align-items: center;


.says {
  align-items: center;
}

.h4, h4 {
  margin-top: 59px;
}

h2 {
  padding-top: 10px;
  text-align: center;
  margin-right: 50px;
}

.h2, h2 {
    font-size: 2.5rem;
}

.card-product {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: -50px;
}

.image-one {
  width: 520px;
  margin-top: 161px;
  object-fit: cover;
  margin-right: 111px;
}

.image-two {
  width: 520px;
  margin-top: 56px;
  object-fit: cover;
  margin-right: 111px;
}

.image-three {
  width: 520px;
  margin-top: 178px;
  object-fit: cover;
  margin-right: 111px;
}

.image-four {
  width: 520px;
  margin-top: 56px;
  object-fit: cover;
  margin-right: 111px;
}

.image-five {
  width: 520px;
  margin-top: 56px;
  object-fit: cover;
  margin-right: 111px;
}

.card-product p {
  // font-size: 12px;
  // line-height: 1.4;
  // opacity: .7;
  // margin-bottom: 0;
  // margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 35px;
}

.cleanser {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: -77px;

}


.steps {
  margin-top: 20px;
  align-items: center;
  padding: 35px;
  margin-right: 30px;
}

.cleanser {
  padding: 35px;
}

.toner {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: -77px;
}

.toner-info {
  padding: 35px;
  margin-top: 19px;
}

.cream {
  padding: 35px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.spf {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: -77px;
}

.spf-info {
  padding: 35px;
  // margin-top: -104px;
}


.spf {

  padding: 35px;
}
