.container {
  position: absolute;
  width: 1532px;
  height: 795px;
  left: 100px;
  top: 200px;
}

.qcontainer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  border-color:#000000;
  color:#14152C;
  box-shadow: 0px 0px 1px 4px rgba(88,97,175, 0.2);
  background-color: white;
  padding: 15px;
  margin-bottom: 25px;
  margin-top: 100px;
  border-radius: 7px;
  // box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.title-card {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

.answer-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.title-card {
  text-align: center;
  padding: 5px;
}

.answer-cards {
border-color:#000000;
color:#14152C;
box-shadow: 0px 0px 1px 4px rgba(88,97,175, 0.2);
position: relative;
}

.next-button {
  position: relative;
  color: #7e0d0d;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

.collection_radio_buttons {
  border-radius: 7px;
  color: black;
  box-shadow: 0px 0px 1px 4px rgba(88,97,175, 0.2);
  background-color: white;
  padding: 5px;
}

#user_answer_answer_179 {
  margin-right: 5px;
}
#user_answer_answer_180 {
  margin-right: 5px;
}
#user_answer_answer_178 {
  margin-right: 5px;
}
