.routine{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.qroutine {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -300px;

}

.result {
  // border-color:#000000;
  // color:#14152C;
  box-shadow: 0px 0px 1px 4px rgba(88,97,175, 0.2);
  position: relative;
  padding: 25px;
  margin: auto;
  margin-top: auto;
  margin-left: 100px;
  margin-right: 100px;
  background-color: white;
  border-radius: 7px;

h4{
  margin: 0px;
  font-size: 1rem;
  font-weight: 500;
}
  // box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  // border: #000000;
  background-color: white;
  margin-top: 40px;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0px 0px 1px 4px rgba(88,97,175, 0.2);
}

.card {
  // border-color:#000000;
  // color:#14152C;
  // box-shadow: 0px 0px 1px 4px rgba(88,97,175, 0.2);
  position: relative;
  margin-top: 50px;
  width: 150px;
  height: 250px;
  background-color: white;
  border-radius: 7px;
  margin: 10px;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  height: 320px;
  width: 180px;
  a {
    display: flex;
    justify-content: center;
    padding: 9px 3px;
    color:#14152C;
    background-color: #B2D7C9;
    // border-color: #000000;
    // box-shadow: black;
    border-radius: 7px;
    text-decoration: solid;
    position: sticky;
    bottom: 10px;
    left: 48px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 7px;

  }
}

.product-picture {
  justify-content: center;
  margin-top: 5px;
}

.name {
  margin-top: 15px;
  font-size: small;
  /* margin-bottom: 1rem; */
  margin-left: 4px;
  margin-right: 4px;
}
