<footer class="text-center text-lg-start bg-white text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-top">
    <div class="footer">
      <footer id="logo" class="ui-footer ui-bottom-button">
          <a href="#" class="footer-brand">SAYS</a>
      </footer>
      <footer class="ui-footer ui-bottom-button">
          <a href="#" class="ui-btn">Our story</a>
      </footer>
        <footer class="ui-footer ui-bottom-button">
          <a href="#" class="ui-btn">Contact us</a>
      </footer>
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </section>
</footer>
<!-- Footer -->
