<div class="page">
  <div class="skinbasics">
      <div class="says">
        <h2>Something about your skin</h2>
      </div>
    <div class="card-product">
      <div class="card-product-infos">
        <h1>Skin basics</h1>
        <p>There are plenty of things we all take for granted. Clean drinking water, access to healthy foods.
        Even being able to get out of bed in the morning. But perhaps the most taken-for-granted thing in our lives is our skin! Which needs a very good skin care.</p>

        <h4>But what do you really mean when you say “skin care”?</h4>

        <p>We mean the basic care and keeping of your largest organ—your skin! It plays an important role in protecting you from outside pathogens and, you know, holds all your internal organs in place. And in the same way that you regularly brush your teeth, your skin requires at least some attention to keep it functioning properly.
        It also requires protection—especially from skin cancer.</p>

        <p>This guide is for anyone who is curious about what it means or what it takes to have an effective skin-care routine—from beginners who don’t know where to start all the way to seasoned skin-care enthusiasts. Consider it your ultimate skin-care manual.</p>
      </div>
      <img class="image-one" alt="avatar" src="https://images.pexels.com/photos/8142194/pexels-photo-8142194.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    </div>
    <div class="steps">
    <h3>Four Main Steps</h3>
    <p>Think of your skin-care routine as consisting of four main steps:</p>
    <ul>
    <li>
    <strong>Cleansing — Washing your face.</strong>
    </li>
    <li><strong>Toning — Balancing the skin.</strong></li>
    <li><strong>Moisturizing</strong> — <strong>Hydrating and softening the skin.</strong></li>
    <li><strong>SPF — Protecting your skin from sun damage.</strong></li>
    </ul>

    </div>
    <div class="cleanser">
    <img class="image-two" src="https://images.pexels.com/photos/8160468/pexels-photo-8160468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="cleanser">
      <div class="cleanser-info">
        <h3>Cleanser</h3>
        <p>
  If there's one thing that's essential to your skin care routine, it's a cleanser. It should be the first step of your skin care routine every night and every morning.

  But what is a cleanser? Simply put, a cleanser rids your skin of makeup, impurities, dirt, oil, pollution and more. Skin needs to be cleansed regularly day and night, as well as after a rigorous workout. Keeping your pores clear can help you prevent and treat issues like acne, as well as prep your face for other products in your skin care regimen. </p>
      </div>
    </div>
    <div class="toner">
      <div class="toner-info">
        <h3>Toner</h3>
        <p>You've definitely seen them in the skincare aisle at your local drugstore — those slim bottles filled with clear or lightly tinted liquid. Toner for the face is a curious product. Many people who use one don't even realize why other than because of habit. We're big fans of habit, but we're even bigger fans of sharing the best reasons to use toner and what it does for your face.

  Face toner is a secret skincare weapon. It comes in a water-based liquid form that may be infused with skin-soothing ingredients like eucalyptus, peppermint and aloe. You can often find different formulas made especially for your skin type. A toner's job is meant to gently refresh your skin without stripping it of its natural moisture. This means toner won't irritate sensitive skin or cause excessive dryness. Toner also prepares the skin to drink up your post-cleansing moisturizer and any other skin treatments that you may apply. </p>
      </div>
      <img class="image-three" src="https://images.pexels.com/photos/8989967/pexels-photo-8989967.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    </div>
    <div class="cream">
      <img class="image-four" src="https://images.unsplash.com/photo-1629380108660-bd39c778a721?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="cream">
      <div class="cream-info">
        <h3>Moisturizer</h3>
        <p>A face moisturizer is a lotion, or cream emulsion, ointment or balm formulated with emollients that help skin stay hydrated. Moisturizers hydrate the surface layers of the skin. Their main skin benefit is that they seal the skin, locking in moisture and nutrients, while protecting the skin from environmental irritants. </p>
      </div>
    </div>
    <div class="spf">
      <div class="spf-info">
      <h3>Sunscreen</h3>
      <p> Sunscreen is an important part of a complete sun protection strategy. But sunscreen alone isn’t enough to keep you safe in the sun. </p>
      <p>When used as directed, sunscreen is proven to:</p>
      <p>Decrease your risk of skin cancers and skin precancers. Regular daily use of SPF 15 sunscreen can reduce your risk of developing squamous cell carcinoma (SCC) by about 40 percent, and lower your melanoma risk by 50 percent.</p>
      <p>Help prevent premature skin aging caused by the sun, including wrinkles, sagging and age spots.</p>
      </div>
      <img class="image-five" src="https://images.pexels.com/photos/8384644/pexels-photo-8384644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
    </div>
  </div>
</div>
