<div class="page">
  <div class="skinbasics">
    <h1>Skin basics</h1>
    <div class="says">
      <h2>Something about your skin</h2>
    </div>

    <p>There are plenty of things we all take for granted. Clean drinking water, access to healthy foods.
    Even being able to get out of bed in the morning. But perhaps the most taken-for-granted thing in our lives is our skin! Which needs a very good skin care.</p>

    <h4>But what do you really mean when you say “skin care”?</h4>

    <p>We mean the basic care and keeping of your largest organ—your skin! It plays an important role in protecting you from outside pathogens and, you know, holds all your internal organs in place. And in the same way that you regularly brush your teeth, your skin requires at least some attention to keep it functioning properly.
    It also requires protection—especially from skin cancer.</p>

    <p>This guide is for anyone who is curious about what it means or what it takes to have an effective skin-care routine—from beginners who don’t know where to start all the way to seasoned skin-care enthusiasts. Consider it your ultimate skin-care manual.</p>

    <p>Great skin is not simply a matter of DNA — your daily habits, in fact, have a big impact on what you see in the mirror. But depending on which product reviews you read or doctors you consult, there is a dizzying number of opinions on everything from how to moisturize to how to protect yourself from UV rays. Ultimately, caring for your skin is simply personal. Here’s what you should keep in mind to sort through all the noise.
    </p>
  </div>
  <div>
    <h2>Cleanser</h2>
    <p> </p>
  </div>
  <div>
    <h2>Toner</h2>
    <p> </p>
  </div>
  <div>
    <h2>Cream</h2>
    <p> </p>
  </div>
  <div>
    <h2>SPF</h2>
    <p> </p>
  </div>
  <p>There are plenty of things we all take for granted. Clean drinking water, access to healthy foods.
    Even being able to get out of bed in the morning. But perhaps the most taken-for-granted thing in our lives is our skin! Which needs a very good skin care.</p>

    <h4>But what do you really mean when you say “skin care”?</h4>

    <p>We mean the basic care and keeping of your largest organ—your skin! It plays an important role in protecting you from outside pathogens and, you know, holds all your internal organs in place. And in the same way that you regularly brush your teeth, your skin requires at least some attention to keep it functioning properly.
    It also requires protection—especially from skin cancer.</p>

    <p>This guide is for anyone who is curious about what it means or what it takes to have an effective skin-care routine—from beginners who don’t know where to start all the way to seasoned skin-care enthusiasts. Consider it your ultimate skin-care manual.</p>

    <p>Great skin is not simply a matter of DNA — your daily habits, in fact, have a big impact on what you see in the mirror. But depending on which product reviews you read or doctors you consult, there is a dizzying number of opinions on everything from how to moisturize to how to protect yourself from UV rays. Ultimately, caring for your skin is simply personal. Here’s what you should keep in mind to sort through all the noise.
    </p>



  <div></div>
  <div></div>
  <div></div>
<div></div>

</div>
