<div class="page">
<div>
  <h1>Skin basics</h1>
  <p> </p>
</div>
<div>
  <h2>Cleanser</h2>
  <p> </p>
</div>
<div>
  <h2>Toner</h2>
  <p> </p>
</div>
<div>
  <h2>Cream</h2>
  <p> </p>
</div>
<div>
  <h2>SPF</h2>
  <p> </p>
</div>

<div></div>
<div></div>
<div></div>
<div></div>

</div>
