<div class="banner" style="background-image: url(<%= asset_url('homepage_banner.jpeg'); %>)">
  <div class="container">
    <div>
      <h1>Beauty Guide</h1>
      <p><strong>Your guide to a perfect skin<strong></p>
    </div>
  </div>
</div>

<div class="container">
 <div class= "row justify-content-center">
  </div>
   <%= link_to "Take the quiz", "#", class: "btn"%>
  </div>
</div>
