<div class="dropdown">
  <button type="button" class="button-dropdown">
    <%= link_to "Quiz", question_path(@question), id: "quiz-button" %>
  </button>
  <button type="button" data-bs-toggle="dropdown" aria-expanded="false" class="button-dropdown">
    Products
  </button>
  <ul class="dropdown-menu">
    <% Category.all.each do |category| %>
      <li><%= link_to category.name, category_path(category), class: "dropdown-item"%> </li>
    <% end %>
  </ul>
</div>
